{% extends 'layout.html' %}

{% block body %}
<h1>About Us</h1>
<p>We are a group of senior UCLA undergraduate students(graduating in 2022) with a major in Statistics.
  This Website is built for our milestone project in Stats 141XP, Practice of Statistical Consulting.
  In this course, our group will solve real data analysis problems for our wonderful community-based
  client, Khathy Hoang from YMCA. The aim of this app is to demonstrate our analysis results of the
  YMCA data achieved from dashboards created by using <em>Tableau</em>, a popular data visualization tool.</p>

<h1>Team member from Group (Bing Dwen Dwen)</h1>
<ul>
  <li><a>ZIXUAN CHEN</a></li>
  <li><a>KEFAN PING</a></li>
  <li><a>RUIHAN WANG</a></li>
  <li><a>SHURUI WANG</a></li>
  <li><a>XINDAN ZHANG</a></li>
  <li><a>YI ZHANG</a></li>
</ul>
{% endblock %}
