{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron">
    <center><h1 class = "main-title">UCLA STATS 141XP<br/>YMCA Research Project</h1></center>
    <p class="lead">This research is mainly based on three youth programs offered by YMCA: <strong>Physical Learning Activities for Youth (PLAY)</strong>,
        <strong>Youth & Government (Y&G)</strong>, and <strong>Youth Institute of Media Arts (YIMA)</strong>. After cleaning and integrating the data provided by our
        client from YMCA, we have used Tableau to visualize the data and created several interactive dashboards. To better present our results
        and to better help our client, we have created this Website that contains everything we have obtained from this research. Our data analysis
        is conducted with a multi-faceted approach. The participants are divided into two independent groups, which are the new YMCA participants
        and the returning YMCA participants. By comparing the self-reported information from the participant groups before and after participating,
        we have analyzed the specific roles and effects of the three different YMCA programs and obtained more in-depth research and understanding
        of them.</p>
  </div>
{% endblock %}
