{% extends 'layout.html' %}

{% block body %}
    <h1>Physical Learning Activities for Youth (PLAY)</h1>
    <h2>Program Description</h2>
    <p>YMCA PLAY (Physical Learning Activities for Youth) is designed to prevent childhood obesity and diabetes.
        Standardized for easy measurement and outcome assessment, PLAY experts visit campuses every week of the
        school year to deliver a high quality, research-based health and wellness curriculum. Aligned with the
        California Physical Education Content Standards, PLAY is making a major impact at underfunded schools
        in communities throughout Los Angeles.</p>
    <p><a href="https://www.ymcala.org/programs/education/play">Program YMCA Website</a></p>

    <h2>Program Components</h2>
    <ul>
    <li><strong>Warm-Up</strong>: Every PLAY session begins with stretching exercises that gradually increase children’s heart rates. Games and other warm-up activities also teach the importance of basic fitness, health concepts and character development.</li>
    <li><strong>Flexibility</strong>: PLAY exercises help children maintain or increase their range of motion of all joints and to stretch muscles.</li>
    <li><strong>Cardiovascular</strong>: Games and exercises elevate the heart rate so children can achieve cardio-respiratory conditioning.</li>
    <li><strong>Muscular Strength & Endurance</strong>: Devoted coaches design specific activities to strengthen and increase muscle endurance.</li>
    <li><strong>Skill Development</strong>: Exercises focus on fine and gross motor skills as well as sport-specific skills.</li>
    <li><strong> Cool-Down</strong>: PLAY time ends with activities that slow down children’s heart rates and re-stretch the muscles.</li>
    </ul>


    <h2>Dashboards and Results</h2>
    <h3>Dashboard 1</h3>
    <div class='tableauPlaceholder' id='viz1646436046762' style='position: relative'>
        <object class='tableauViz'  style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
            <param name='embed_code_version' value='3' />
            <param name='site_root' value='' />
            <param name='name' value='Play1_16463826398440&#47;2_2' />
            <param name='tabs' value='no' /><param name='toolbar' value='yes' />
            <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' /><param name='language' value='en-US' />
            <param name='filter' value='publish=yes' />
        </object>
    </div> 
    <script type='text/javascript'>
        var divElement = document.getElementById('viz1646436046762');
        var vizElement = divElement.getElementsByTagName('object')[0];
        vizElement.style.width='1500px';vizElement.style.height='1527px';
        var scriptElement = document.createElement('script');
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
        vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>
    <p>Dashboard 1 mainly showed the number of participants by YMCA Branches and School. We first created a map based on the number of Physical
        Learning Activities for Youth (PLAY) participants in each YMCA branch. In Metropolitan Los Angeles, 10 YMCA branches carry out PLAY in
        surrounding schools, concentrated in coastal areas. On the map, we can see that the North Valley Family YMCA in the far north and the
        Torrance organization in the far south have the largest number of participants (14090 and 5146, respectively). The other YMCAs received
        less than 3,000 students. The least was Collin & Katz, close to the Santa Monica area, with only 670 participants. To explore the hidden
        information behind the number of participants, we plotted boxplots based on the source of the participant's school. We found that the YMCA
        with the largest number of participants also had a high number of schools from which the participants came from. On the other hand, Collin 
        & Katz, which had the fewest participants, had only four schools, and those four schools had fewer participants than schools in other regions.
        Through the above exploration, we can guess that the number of participants in the PLAY organized by the YMCA may be related to the number
        of local schools. The number of schools may be related to the region's location (eg. whether it is far from the downtown) and population.
        This may be a key problem that needs to be considered when selecting a site for YMCA to conduct a PLAY program.</p>

        <h3>Dashboard 2</h3>
<div class='tableauPlaceholder' id='viz1646436268629' style='position: relative'>
    <object class='tableauViz'  style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='Play2_16463826769150&#47;11_1' />
        <param name='tabs' value='no' /><param name='toolbar' value='yes' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='language' value='zh-CN' />
        <param name='filter' value='publish=yes' />
    </object></div>
    <script type='text/javascript'>
        var divElement = document.getElementById('viz1646436268629');
        var vizElement = divElement.getElementsByTagName('object')[0];
        vizElement.style.width='2000px';vizElement.style.height='2027px';
        var scriptElement = document.createElement('script');
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
        vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>

    <p>Dashboard 2 showed the questionnaire results that YMCA has asked participants (or their parents) to fill out to measure their
        satisfaction with the PLAY program. We will present the survey results of this questionnaire from three perspectives: physical
        activities achievements, program environment, and the interrelationship of answers to six interesting questions.</p>

    <p>First, we look at physical activities achievements. We considered three questions in the questionnaire and created line graphs to
        represent histograms of the participants' agreement (or their parents') for specific statements. We can intuitively see that the
        frequency of agreement with "will do more physical activities now" and "know how to do more physical activities now" monotonously
        decreases from "strongly agree" to "strongly disagree". Thus the two statement seem fit them very well. In comparison, participants
        appeared less confident for considering "want to do more physical activities now", which is, however, still indicating a positive
        matching between the statement and the participants. The participants who participated in the PLAY generally showed great enthusiasm
        for physical activities. Therefore, we can say that PLAY has dramatically improved the sports awareness of the participants. </p>

    <p>The following three pie charts show participants' attitudes towards the Program Environment. We found that the vast majority (80%) of
        participants felt safe in this program. Nevertheless, for teacher smiles in this program, the feedback from participants was scattered,
        which suggests that the frequency with which PLAY teachers smile varies from person to person. Perhaps the YMCA should advise teachers
        to show more smiles. Happily, the vast majority (80%) of participants agreed that the teachers play games and do fun activities in this
        program. </p>

    <p>Finally, we focused on participants' attitudes who gave specific responses to some questions on other questions. Blue squares indicate
        more significant trends (compared with yellow and grey). Larger squares in these nine graphs represent larger frequency. We found that
        blue squares are concentrated in the left half of the nine graphs. Thus we may conclude that children who think they are more active
        than others, children who frequently participate in PLAY, or children who play sports intensely during PLAY, often can keep going under
        pressure and load even when things get tough and stressful. Moreover, those children feel more confident at school, have goals, and often
        think about achieving them. </p>

    <p>On the other hand, the participants who seldom participate in PLAY may still feel more confident at school, have goals, and often think
        about achieving them. This means that YMCA may not need to conduct the PLAY program too frequently but to increase the depth and efficiency
        of each single daily PLAY. </p>
    
    <p>To sum up, physical activities are beneficial for developing children's mental health. However, the frequency of physical activity is not the
        critical factor, while the intensity of the physical activity is.</p>

<footer>
    <p>Dashboards can be found here:
        <a href="https://public.tableau.com/app/profile/yi.zhang8016/viz/Play1_16463826398440/2_2?publish=yes">Dashboard1</a>,
        <a href="https://public.tableau.com/app/profile/yi.zhang8016/viz/Play2_16463826769150/11_1?publish=yes">Dashboard2</a>.
    </p>
  </footer>
{% endblock %}

