{% extends 'layout.html' %}

{% block body %}
    <h1>Youth & Government (Y&G)</h1>
    <h2>Program Description</h2>

    <p>California YMCA Youth and Government has provided outstanding statewide civic engagement, 
        ducational and social experiences for over 73 years. The YMCA is a cause-driven organization
        that focuses on youth development, healthy living and social responsibility with four major
        core values of: caring, honesty, respect and responsibility. California YMCA Youth & Government
        is an integral part of the YMCA movement. Our programs, run through partnering YMCAs, Schools
        and Youth Organizations, have served over 100,000 students over the past 15 years alone. As we
        start to recover at what is hopefully the tail end of the Covid-19 pandemic, we are back engaged
        with over 56 delegations and 1700 students from across this great state of California. Our rebuilding
        and reimagining efforts  will build, strengthen and encourage life skills and positive character traits.</p>

    <p>The hands-on programs of California YMCA Youth & Government provide positive opportunities and experiences
        for youth. Participants strengthen their communities by becoming civically engaged, active and responsible
        contributors who are inspired and empowered to lead and create meaningful change.</p>
      
    <p>California YMCA Youth & Government prides itself in offering the following skills to help youth transition
        and succeed with ease from middle school through college graduation.</p>
    <p><a href="https://www.ymcala.org/locations/california-ymca-youth-government">Program YMCA Website</a></p>
    
    <h2>Program Components</h2>
    <ul>
        <li>Leadership</li>
        <li>Public Speaking</li>
        <li>Research & Writing</li>
        <li>Core Values</li>
        <li>Collaboration</li>
        <li>Study Skills</li>
        <li>Critical Thinking</li>
        <li>Greater Understanding of Civic Engagement</li>
        <li>Addressing Issues on Statewide & National Levels</li>
    </ul>

    <h2>Dashboards and Results</h2>
    <h3>Dashboard 1</h3>
    <div class='tableauPlaceholder' id='viz1646436953443' style='position: relative'>
        <object class='tableauViz'  style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
            <param name='embed_code_version' value='3' />
            <param name='site_root' value='' />
            <param name='name' value='YG1&#47;YG1' />
            <param name='tabs' value='no' />
            <param name='toolbar' value='yes' />
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='language' value='zh-CN' />
            <param name='filter' value='publish=yes' />
        </object>
    </div>
    <script type='text/javascript'>
        var divElement = document.getElementById('viz1646436953443');
        var vizElement = divElement.getElementsByTagName('object')[0];
        vizElement.style.width='1800px';vizElement.style.height='1527px';
        var scriptElement = document.createElement('script');
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
        vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>
    <p>Above Dashboard1 is about the Effects & Achievements (self-reflection) of the participants in the Youth & Government (Y&G) program.
        We first look at the skills and knowledge that participants have developed after taking the youth and government program. Following
        the timeline, participants need college-level skills first. From the pie chart, nearly half of the participants think that the program
        has helped them develop those skills while only 10% participants don’t think so, which shows that there is some moderate influence.
        Since most of the participants have developed employ ability skills, the program has a nice effect on job finding. Lastly, the program
        needs some changes about how to develop participants’ practical skills because not many people think they learn those skills and half
        of them don’t know. </p>
     <p>Then we move on to the effects of the program. From the vote distribution, all of the participants who didn't vote in the last election
         intend to vote in the next election. And 73.33% of the participants who voted in the last election will continue to vote. These data
         are evidence that the program helps youth become civically engaged and it plays a great role in improving their social responsibility.
         The next three bar charts investigate youth development with core value of caring in their communities. While most of them have done
         volunteer activities or public meetings, less than half of them have worked with others to improve a condition in their neighborhoods.
         This is a problem needs to be solved by the youth and government program in the future, in order for youth to strengthen their communities 
         as well as contribute to the society.</p>

    <h3>Dashboard 2</h3>
<div class='tableauPlaceholder' id='viz1646437094954' style='position: relative'>
    <object class='tableauViz'  style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='YG2&#47;YG2' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='language' value='zh-CN' />
        <param name='filter' value='publish=yes' />
    </object>
</div>
<script type='text/javascript'>
    var divElement = document.getElementById('viz1646437094954');
    var vizElement = divElement.getElementsByTagName('object')[0];
    vizElement.style.width='1800px';vizElement.style.height='1527px';
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>

<p>From Dashboard 2 (Leader & Leadership self-reflection of Y&G), we could find that, among all the skills, leadership is a very important skill
    that youth need in many areas. After taking the program, the majority of the participants can identify both leader and leadership as well as
    the difference between the two terms, while a few of them don’t know the difference of the two terms. From the next table, more than half of
    the participants understand various titles of leadership positions on many occasions (which is a middle level choice). Also, nearly half of
    them choose the same choice on the question about whether they understand the requirements and responsibilities of leadership positions. So it’s
    supported by the data that although the program has some positive influence helping youth understand leadership positions and leaders’
    responsibilities, there are more leadership-related activities and experience needed for youth to improve the program. The two pie charts on
    questions about leaders show very similar results with previous table, which is participants intend to choose on-many-occasions (the middle level choice).
    46.67% of the participants choose it on the question of identifying leadership styles of various leaders and 30% of them choose it on the question of
    identifying the positive and negative aspects of being a leader. Thus, the program needs to rebuild this part about how to encourage youth with being
    leaders and developing the skill of leadership.</p>

<div class="j1">
  <center><h1 class = "ymca-title">Results</h1></center>
 <p class="ymca-intro">For <em>Youth & Government (Y&G)</em>, nearly half of the participants think that the program has helped them develop
    those college-level skills, most of the participants have developed employability skills, the program has a nice effect
    on job finding. Also, from the vote distribution (Positive attitude of voting participants), we could find that the program
    helps youth become civically engaged and it plays a great role in improving their social responsibility. The youth and
    government program still need to put effort into in order for youth to strengthen their communities as well as contribute
    to the society.</p>
  </div>

<footer>
    <p>*Dashboards can be found here:
        <a href="https://public.tableau.com/app/profile/yi.zhang8016/viz/YG1/YG1?publish=yes">Dashboard1</a>,
        <a href="https://public.tableau.com/app/profile/yi.zhang8016/viz/YG2/YG2?publish=yes">Dashboard2</a>.
    </p>
  </footer>
{% endblock %}