{% extends 'layout.html' %}

{% block body %}
    <h1>Youth Institute of Media Arts (YIMA)</h1>
    <h2>Program Description</h2>

    <p>The Youth Institute of Media Arts pairs mentors with youth to
        develop leadership skills and promote higher education
        readiness. Every graduate from our Youth Institute has been
        accepted and enrolled in an accredited college/university.</p>

    <h2>Dashboards and Results</h2>
    <h3>Dashboard 1</h3>
    <div class='tableauPlaceholder' id='viz1646870808644' style='position: relative'>
        <object class='tableauViz'  style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
            <param name='embed_code_version' value='3' />
            <param name='site_root' value='' />
            <param name='name' value='YIMA1&#47;Type' />
            <param name='tabs' value='no' />
            <param name='toolbar' value='yes' />
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='language' value='en-US' />
            <param name='filter' value='publish=yes' />
        </object>
    </div>             
    <script type='text/javascript'>
        var divElement = document.getElementById('viz1646870808644');
        var vizElement = divElement.getElementsByTagName('object')[0];
        vizElement.style.width='1800px';vizElement.style.height='1527px';
        var scriptElement = document.createElement('script');
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
        vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>

    <p>Dashboard1 showed the participants' (both new participants and returning participants) self-reflection distribution on Writing according to YIMA program.
        These writing result charts compare the writing frequency of new and returning participants, categorized by writing types. In the general observation,
        these diagrams show a right-skewed distribution. Various letter types (business letters, social letters, speech, outlines, and ideas) show that most
        participants author these types of letters on many occasions. When writing business letters, there are few participants(5/46) who almost always write
        business letters. Among these participants, except for writing business letters, few participants never write social letters(3/46), speech(6/46),
        outlines(3/46), and ideas(1/46). </p>
    
    <p>In the business letter part, nearly half of the new participants (13/27) prefer to write business on many occasions, and only two participants always
        write a business letter. Moreover, returning participants (8/19) sketch business letters once in a while. When composing social letters, more than
        half of returning participants write social letters on many occasions, and the proportion of these returning participants who never write social
        reports is small. Most new participants write social letters on many occasions (10/27) or once in a while(9/27). When preparing speeches, about
        80% of new participants tend to write speeches all the time or on many occasions. For returning participants, the speech frequency generally displays
        a uniform distribution. Writing outlines graph shows that new participants are interested in writing the outline in common life, and there is no returning
        person who never writes outlines. Compared with the experiment results of other writings, the experiment result of creating ideas mentions that the fewest
        participants do not write ideas.</p>
    
    <p>When we research new and returning participants’ comparing ideas in writing, over half of new participants(14/27) contrast ideas regularly and more than half
        of returning participants(10/19) are only used to judging ideas on many occasions and there is no returning person never contrast ideas during writing. By
        checking the result of how to use written information, we find that both new participants and returning participants all acquire the knowledge of written
        skills more or less. Over 50% of new and returning participants tend to obtain written information on many occasions.</p>

    <p>Comparing new participants that can distinguish fact from opinions in writing and summarize written information in a clear manner, these two charts show
        all returning participants can understand the difference between fact and opinions in writing and own the ability to organize information. The proportion
        of returning participants with adept skills in distinguishing fact from opinions and summarizing written information is higher than that of the new. It is
        easy to say that returning participants are more skilled in organizing and discriminating information.</p>
    
    <p>In evaluating my writing and the writing of others, most new and returning participants plan to evaluate their writing and the writing of others at a relatively
        high frequency. Both their maximums exist under the situation that they usually practice evaluation. When participants write to persuade others to their points
        of view, for new and returning participants, the explicit difference happens, aside from never writing to persuade others. The result for new participants
        displays that a similar number of participants choose to persuade others at either extremely high or low frequency, and the result for returning participants
        displays that most returning participants persuade others to accept their opinions on many occasions. From this, we can infer that new participants are more
        inclined to make others accept their opinions while returning participants tend to be polarized, either always lobbying others or just attempting occasionally.</p>

    <h3>Dashboard 2</h3>
<div class='tableauPlaceholder' id='viz1646642745536' style='position: relative'>
    <object class='tableauViz'  style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
         <param name='embed_code_version' value='3' /> 
         <param name='site_root' value='' />
         <param name='name' value='YIMA2&#47;Type2' />
         <param name='tabs' value='no' />
         <param name='toolbar' value='yes' />
         <param name='animate_transition' value='yes' />
         <param name='display_static_image' value='yes' />
         <param name='display_spinner' value='yes' />
         <param name='display_overlay' value='yes' />
         <param name='display_count' value='yes' />
         <param name='language' value='en-US' />
         <param name='filter' value='publish=yes' />
        </object>
    </div>
    <script type='text/javascript'>
        var divElement = document.getElementById('viz1646642745536');
        var vizElement = divElement.getElementsByTagName('object')[0];
        vizElement.style.width='1800px';vizElement.style.height='1027px';
        var scriptElement = document.createElement('script');
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'
        vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>

<p>By integrating and sorting the YIMA dataset, we used Tableau to draw above Dashboard2 (Self-reflection
    on Social Media Skill Set). This graph shows young people’s self-assessment of their social media skills (self-
    positioning prior to participation in the YIMA program), including both new and returning participants. It can
    be seen from the figure that, whether it is a new participant or a returning participant, most people self-reflected
    themselves at the good skills level on social media skill set. For new participants, those who reflected themselves
    at the excellent skills level were the least, and presentation software accounted for the highest proportion of the
    excellent skills level. For the returning participants, the number of those who reflected themselves at the No
    skills level was the least, and the proportion of digital video and word processing software in the No skills level
    is 0. Comparing the counts and proportion of self-reflection on social media skill set of new participants and
    returning participants, we can get the following findings: Returning participants have decreased in the number
    of no skills level on each skill set. Especially in digital video, web design, word processing software, the number
    of people with no skill level has decreased significantly. We can reasonably guess that the YIMA program
    has indeed helped young people improve their social media skills level, and has greatly helped participants in
    digital video, web design, and word processing software.
    </p>

    <h3>Dashboard 3</h3>
<div class='tableauPlaceholder' id='viz1646535691673' style='position: relative'>
    <object class='tableauViz'  style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='embed_code_version' value='3' /> 
        <param name='site_root' value='' />
        <param name='name' value='YIMA3&#47;Dashboard1' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='language' value='en-US' />
        <param name='filter' value='publish=yes' />
    </object>
</div>
<script type='text/javascript'>
    var divElement = document.getElementById('viz1646535691673');
    var vizElement = divElement.getElementsByTagName('object')[0];
    vizElement.style.width='1800px';vizElement.style.height='2027px';
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>

<p>By integrating the feedback data set of YIMA participants and students' opinions after participating in the program, we use Tableau to draw Dashboard3. 
    Where blue represents new participants and orange represents returning participants.</p>

<p>As shown in the Dashboard3, we can see that most of both new participants and returning participants agree with the program developed the skills and
    knowledge for college-level classes, while some part is neutral, and only a few people (three people) disagreed. In addition, most people (both
    new and returning participants) agree that the program developed the skills and knowledge for preparing to get a job, some people thought it might
    be helpful. Only a very few (two people) disagreed. But interestingly, most people (both new and returning participants) are not sure or agree with
    the program Connect them with work or internship.</p>

<p>By comparing the number and proportion of services that new participants and returning participants participated in, we can find that: in counseling
    about how to pay for college, counseling about how to apply for college, and college entrance exam preparation, the number and proportion of new
    participants are higher than the number and proportion of returning participants. The number and proportion of returning participants in counseling
    about future career possibilities, counseling about admissions requirements were higher than that of new participants.</p>

<p>By analyzing the future plan (the things expect to be doing during this year) of new and returning participants, we can see that both new and returning
    participants want to spend time in school, volunteering and taking care of family. But the number and proportion of returning participants looking for
    work, working, internship and posy-secondary school (ie college, university, trade school) is much larger than that of new participants.</p>

<p>In general, the vast majority of new participants said they would recommend the YIMA program to their peers, while a very small number of returning
    participants said they might recommend the YIMA program to their peers. Here we guess that for new participants, the YIMA program can help them improve
    themselves effectively (significantly), while for returning participants, the YIMA program is not much help for them to further improve(less effective).</p>

<p>In addition, through the following student opinion graph, we can find that most of the participants have found their hobbies and their own future plan
    (want to develop the social skills they need, including filming, computer skills, collaborating and meeting new people, etc.); and most of the participants
    developed the skills and knowledge they will need for college-level classes or career (through "focus on academics, do well in class, make money, and become
    more active", etc.); most of the participants' evaluation of the YIMA program were positive (participants liked the program is "great, funny and caring",
    liked "the support, friendliness, and the positivity", and "open and helpful", etc.); For the program lead(s), Participants' positive feedback was also
    given.(participants liked "the teamwork", "the friendships" and "the friendly environment")</p>

<footer>
    <p>*Dashboards can be found here:
        <a href="https://public.tableau.com/app/profile/yi.zhang8016/viz/YIMA1/Type?publish=yes">Dashboard1</a>,
        <a href="https://public.tableau.com/app/profile/yi.zhang8016/viz/YIMA2/Type2?publish=yes">Dashboard2</a>,
        <a href="https://public.tableau.com/app/profile/shurui.wang/viz/YIMA3/Dashboard1">Dashboard3</a>
    </p>
  </footer>

{% endblock %}